node_modules
dist
.idea
.eslintrc-auto-import.json
storage/*
.env
.env.local
/storage/
/src/@iconify/icons-bundle.js
/node_modules 
/yarn.lock

/package-lock.json
package-lock.json
auto-imports.d.ts
components.d.ts
yarn.lock
icons-bundle.js